*{
	margin: 0;
	padding: 0;
}


header, footer, section, div{
	display: block;
}


body{
	font-family: arial;
	background-color: #e6e6e6;
	line-height: 1.2;
	font-size: 62.5%;
	overflow: scroll;
}


a{
	text-decoration: none;
	color: #069;
}


a:hover{
	text-decoration: underline;
}


.smaller{
	font-size: 11px;
	color: #666;
}


#big_wrapper{
	width: 807px;
	min-width: 807px;
	margin-left: auto;
	margin-right: auto;
}


#the_header{
	padding: 0 1px 6px 1px;
}


#logo_container{
	display: inline-block;
}


#the_header img{
	margin: 8px 10px 0 4px;
}


#main_section{
	padding: 13px 15px;
	background: #ffffff;
	border: 1px solid #CCCCCC;
	padding: 40px 50px;
}

#main_section h1{
	font-size: 17px;
	font-weight: bold;
}


.description {
	margin-left: 2px;
	margin-top: 5px;
	font-size: 13px;
}


#form_wrapper{
	width: auto;
	margin: 10px 0 25px 0;
	display: inline-block;
	margin-left: 154px;
	margin-top: 34px;
}


#reset{
	width: auto;
	margin: 0 0 20px;
}


#reset ul{
	list-style-type: none;
	margin-left: auto;
	margin-right: auto;
}


#reset li{
	clear: both;
	margin-bottom: 10px;
	display: list-item;
	overflow: hidden;
}


#reset label{
	width: 167px;
	text-align: right;
	display: block;
	float: left;
	padding: 3px 0;
	font-size: 13px;
	font-weight: bold;
	margin-right: 8px;
}


div#form_element{
	display: inline;
	margin-left: 5px;
}

.error{
	font-weight: bold;
	color: #900;
	font-size: 13px;
}


#submit{
	cursor: pointer;
	background: -moz-linear-gradient(top, #73aec9 0, #73aec9 1px, #338ab0 1px, #0571a6 100%);
	background: -o-linear-gradient(top, #73aec9 0, #73aec9 1px, #338ab0 1px, #0571a6 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #73aec9), color-stop(5%, #73aec9), color-stop(5%, #338ab0), color-stop(100%, #0571a6));
	border: 1px solid #045a8b;
	color: #fff;
	font-family: arial;
	font-weight: bold;
	border-radius: 3px;
	font-size: 12px;
	line-height: 1.35;
	padding: 3px 10px 2px;
	vertical-align: top;
	margin: 10px 0 10px 180px;
}


#submit:hover{
	background: -moz-linear-gradient(top, #69a0b6 0, #69a0b6 1px, #277696 1px, #04608e 100%);
	background: -o-linear-gradient(top, #69a0b6 0, #69a0b6 1px, #277696 1px, #04608e 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #69a0b6), color-stop(5%, #69a0b6), color-stop(5%, #277696), color-stop(100%, #04608e));
	border-color: #004a73;
}


#clear{
	clear: both;
}


#the_footer{
	width: 805px;
	min-width: 805px;
	font-size: 110%;
	color: #666;
	padding-left: 5px;
	margin: 20px auto;
	clear: both;
	position: relative;
}


p#copywrite{
	float: left;
	border-right: 1px solid #ccc;
	padding-right: 8px;
	margin-right: 8px;
}


p#terms{
	margin-bottom: 8px;
}