*{
	margin: 0;
	padding: 0;
}


header, footer, section, div{
	display: block;
}


body{
	font-family: sans-serif;
	background-color: #e6e6e6;
	line-height: 1.2;
	font-size: 62.5%;
	overflow: scroll;
	overflow-x: hidden;
}


#big_wrapper{
	width: 807px;
	min-width: 807px;
	margin-left: auto;
	margin-right: auto;
}


#the_header{
	padding: 0 1px 6px 1px;
}


#logo_container{
	display: inline-block;
}


#the_header img{
	margin: 8px 10px 0 4px;
}


#main_section{
	padding: 15px;
}


#main_section{
	zoom: 1;
	border: 1px solid #ccc;
	background-color: white;
}


#header{
	overflow: hidden;
	zoom: 1;
	border-bottom: 1px solid #ccc;
	padding-bottom: 6px;
	margin-bottom: 18px;
}


#header h1{
	font-weight: normal;
	font-size: 160%;
	width: 75%;
	float: left;
	color: #39c;
}

#progress{
	float: right;
	margin-top: 1px;
	width: 9%;
	overflow: hidden;
	zoom: 1;
	font-size: 130%;
}

#default_bar{
	position: relative;
	width: 100px;
	height: 12px;
	border: 1px solid #666;
	float: right;
	display: block;
}


#progress_bar{
	position: absolute;
	width: 30px;
	height: 12px;
	background: #19A3FF;
}


#content{
	margin-left: 113px;
	width: 70%;
}


#content{
	background: #DDF0F8;
	border: 1px solid #9acce6;
	-moz-border-radius: 0;
	-webkit-border-radius: 0;
	border-radius: 7px;
	color: #39c;
}


#para{
	margin-top: 15px;
	margin-left: 14px;
}


#intro{
	font-size: 130%;
	margin: 12px 10px 10px 10px;
	color: #000;
}


#main{
	margin-top: 12px;
	margin-left: 76px;	
}


#main label{
	color: #000;
	font-size: 13px;
	font-weight: bold;
}


#main input{
	width: 60%;
}


#button{
	margin-top: 12px;
	margin-left: 162px;
}


#button input{
	width: 70px;
	height: 25px;
	font-size: 13px;
	font-family: Arial,sans-serif;
	background: #0571A6;
	background: -moz-linear-gradient(top, #73aec9 0, #73aec9 1px, #338ab0 1px, #0571a6 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #73aec9), color-stop(5%, #73aec9), color-stop(5%, #338ab0), color-stop(100%, #0571a6));
	background: linear-gradient(top, #73aec9 0%,#73aec9 1px,#338ab0 1px,#0571a6 100%);
	border-color: #045a8b;
	border-style: solid;
	border-radius: 3px;
	border-width: 1px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	color: #fff !important;
	cursor: pointer;
}


#button #submit:hover{
	background: #04608E;
	background: -moz-linear-gradient(top, #69a0b6 0, #69a0b6 1px, #277696 1px, #04608e 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #69a0b6), color-stop(5%, #69a0b6), color-stop(5%, #277696), color-stop(100%, #04608e));
}


#note{
	margin-top: 5px;
	margin-left: 160px;
	margin-bottom: 22px;
}


#note h2{
	font-family: sans-serif;
	font-size: 10px;
	font-weight: normal;
	color: #000;
}


#skip_step{
	width: 550px;
	margin: 15px auto 40px auto;
	text-align: right;
	font-size: 130%;
}


#skip_step a{
	text-decoration: none;
	color: #069;
	cursor: pointer;
}


#skip_step a:hover{
	text-decoration: underline;
}


#the_footer{
	width: 805px;
	min-width: 805px;
	font-size: 110%;
	color: #666;
	padding-left: 5px;
	margin: 20px auto;
	clear: both;
	position: relative;
}


p#copywrite{
	float: left;
	border-right: 1px solid #ccc;
	padding-right: 8px;
	margin-right: 8px;
}


p#terms{
	margin-bottom: 8px;
}